{% extends 'base.html.twig' %}

{% block title %}Edit CommentaireAtelier{% endblock %}

{% block body %}
    <h1>Edit CommentaireAtelier</h1>

    {{ include('commentaire_atelier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('commentaire_atelier_index') }}">back to list</a>

    {{ include('commentaire_atelier/_delete_form.html.twig') }}
{% endblock %}
