{% extends 'base.html.twig' %}

{% block title %}New CommentaireAtelier{% endblock %}

{% block body %}
    <h1>Create new CommentaireAtelier</h1>

    {{ include('commentaire_atelier/_form.html.twig') }}

    <a href="{{ path('commentaire_atelier_index') }}">back to list</a>
{% endblock %}
