{% extends 'base.html.twig' %}

{% block title %}Modifier : Categorie de séquence{% endblock %}

{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}
    {{ macroMenu.menu('Abdo en acier', 8) }}

{% endblock %}

{% block body %}
    <h1>Modifier : Categorie de séquence</h1>

    {{ include('categoriesequence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categoriesequence_index') }}">Retour à la liste</a>

    {{ include('categoriesequence/_delete_form.html.twig') }}
{% endblock %}
