{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle catégorie{% endblock %}

{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}
    {{ macroMenu.menu('Abdo en acier', 8) }}

{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('categoriesequence/_form.html.twig') }}

    <a href="{{ path('categoriesequence_index') }}">Retour à la liste</a></a>
{% endblock %}
